; vim: set fileencoding=utf-8 :
; Manuel Guenther <Manuel.Guenther@idiap.ch>
; Tue Sep  4 14:59:23 CEST 2012


; This is the configuration file for buildout.

[buildout]
parts = scripts

; required packages: bob, our package, gridtk, and a list of image databases
eggs =  facereclib
        xfacereclib.extension.CSU
        PythonFaceEvaluation
        gridtk
        bob.db.arface
        bob.db.atnt
        bob.db.banca
        bob.db.caspeal
        bob.db.verification.filelist
        bob.db.frgc
        bob.db.lfw
        bob.db.gbu
        bob.db.mobio
        bob.db.multipie
        bob.db.scface
        bob.db.xm2vts


extensions = bob.buildout

develop = ${buildout:csu-dir}/PythonFaceEvaluation
          .

csu-dir = [PATH_TO_YOUR_CSU_COPY]

; options for bob.buildout extension
debug = false
verbose = true
newest = false

[environ]
BOB_BUILD_PARALLEL = 4

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true

