[buildout]
parts = bob python
develop = .

; names of the packages you want to have installed apps for
eggs = facereclib
       gridtk

[bob]
recipe = local.bob.recipe:config
; choose here your bob installation - **re-run buildout if you change it**
; note: changing this does not affect already submitted SGE jobs
install-directory = /idiap/group/torch5spro/nightlies/last/install/linux-x86_64-release

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
