; vim: set fileencoding=utf-8 :
; Andre Anjos <andre.anjos@idiap.ch>
; Mon 16 Apr 08:29:18 2012 CEST

[buildout]
parts = scripts
eggs = facereclib
       gridtk
       bob.db.arface
       bob.db.banca
       bob.db.caspeal
       bob.db.frgc
       bob.db.gbu
       bob.db.lfw
       bob.db.mobio
       bob.db.multipie
       bob.db.scface
       bob.db.xm2vts

extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.buildout
          src/bob.extension
          src/bob.blitz
          src/bob.core
          src/bob.io.base
          src/bob.io.image
          src/bob.sp
          src/bob.math
          src/bob.measure
          src/bob.learn.activation
          src/bob.learn.linear
          src/bob.learn.misc
          src/bob.ip.base
          src/bob.ip.color
          src/bob.ip.gabor
          src/bob.db.base
          src/bob.db.verification.utils
          src/bob.db.verification.filelist
          src/bob.db.atnt
          src/bob.db.arface
          src/bob.db.banca
          src/bob.db.caspeal
          src/bob.db.frgc
          src/bob.db.gbu
          src/bob.db.lfw
          src/bob.db.mobio
          src/bob.db.multipie
          src/bob.db.scface
          src/bob.db.xm2vts
          .

; options for bob.buildout extension
debug = true
verbose = true
newest = false

[sources]
bob.buildout = git https://github.com/bioidiap/bob.buildout
bob.extension = git https://github.com/bioidiap/bob.extension
bob.blitz = git https://github.com/bioidiap/bob.blitz
bob.core = git https://github.com/bioidiap/bob.core
bob.io.base = git https://github.com/bioidiap/bob.io.base
bob.io.image = git https://github.com/bioidiap/bob.io.image
bob.sp = git https://github.com/bioidiap/bob.sp
bob.math = git https://github.com/bioidiap/bob.math
bob.measure = git https://github.com/bioidiap/bob.measure
bob.learn.activation = git https://github.com/bioidiap/bob.learn.activation
bob.learn.linear = git https://github.com/bioidiap/bob.learn.linear
bob.learn.misc = git https://github.com/bioidiap/bob.learn.misc
bob.ip.base = git https://github.com/bioidiap/bob.ip.base
bob.ip.color = git https://github.com/bioidiap/bob.ip.color
bob.ip.gabor = git https://github.com/bioidiap/bob.ip.gabor
bob.db.base = git https://github.com/bioidiap/bob.db.base
bob.db.verification.utils = git https://github.com/bioidiap/bob.db.verification.utils
bob.db.verification.filelist = git https://github.com/bioidiap/bob.db.verification.filelist
bob.db.atnt = git https://github.com/bioidiap/bob.db.atnt
bob.db.arface = git https://github.com/bioidiap/bob.db.arface
bob.db.banca = git https://github.com/bioidiap/bob.db.banca
bob.db.caspeal = git https://github.com/bioidiap/bob.db.caspeal
bob.db.frgc = git https://github.com/bioidiap/bob.db.frgc
bob.db.gbu = git https://github.com/bioidiap/bob.db.gbu
bob.db.lfw = git https://github.com/bioidiap/bob.db.lfw
bob.db.mobio = git https://github.com/bioidiap/bob.db.mobio
bob.db.multipie = git https://github.com/bioidiap/bob.db.multipie
bob.db.scface = git https://github.com/bioidiap/bob.db.scface
bob.db.xm2vts = git https://github.com/bioidiap/bob.db.xm2vts


[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
nose-flags = -v --nologcapture

