include README.rst bootstrap-buildout.py buildout.cfg buildout-with-csu.cfg LICENSE.txt version.txt requirements.txt
recursive-include doc *.py *.rst *.png
recursive-include facereclib/tests testimage.* *.hdf5 *.py *.lst scores-*
